* {
    position: relative; 
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
  }

body{
	margin: 0px auto;
	width: 1146px;
	vertical-align: middle;
	height: auto;
	font-family: 黑体;
}

#header{	
	border: 1px solid #ECE7E7;
}

#header .header_top{	
	background-image:url(../Image/header_back.png);
	background-repeat: no-repeat;
	height:auto;
	width: auto;
}

#header .header_top .logo{	
	width: 395px;
	height: 115px;
	background-image:url(../Image/logo.jpg);
	background-color: #EDEDED;
	background-position: center;
	background-repeat: no-repeat;
	// border: 1px solid #111;
	float: left;
}

#header .header_top .wblogo{
	width: 745px;
	height: 65px;
	// border: 1px solid #111;
	background-image: url(../Image/wblogo.jpg);
	background-position: 650px 23px ;
	background-repeat:no-repeat;
	background-color: #EDEDED;
	float: left;
}

#header .header_top .menu{
	width: 745px;
	height: 50px;
	// border: 1px solid #111;	
	float: left;	
	background-color: #EDEDED;	
	font-style: normal ;
	font-weight : bold ;
}


#header .header_top .menu ul {	
	height: 50px;
	list-style:none;	
	border-top: 1px solid #111;	
	// vertical-align: middle;
}

#header .header_top .menu ul li{	
	width: 110px;
	height: 50px;	
	// border-left: 1px solid #111;
	text-align: center;		
	float: left;
	background-color: #EDEDED;
	line-height:3;
	font-family: 黑体;
	font-size: 18px;
}


#header .header_top .menu ul li a:link, a:visited {
    color:#000000;
	text-decoration:none;
}   

	 

#header .header_top .menu ul li a:hover, a:active {
    color:#FF0000;
    text-decoration:none;
}

#main_carousel{
	width: 1144px;
	height: 566px;
	// position: relative;
	// border: 1px solid #111;
	background-color: #EDEDED;
	float: left;	
}

#main_carousel .carousel{
	width: 1144px;
	height: 480px;
	float: left;
}

#main_carousel .carousel_left{
	left: 75px;
	top: 65px;
	width: 318px;
	height: 501px;
	// position: relative;
	// border: 1px solid #111;
	float: left;
	background-image: url(../Image/back_carousel.png);
	background-repeat: repeat;
}

#main_carousel .carousel_left .carousel_left_f1{
	position: absolute;
	top: 30%;
	left: 108px;
	width: 600px;
	font-family: 微软雅黑;
	font-size: 28px;
	 z-index: 99;
}

#main_carousel .carousel_left .carousel_left_f2{
	position: absolute;
	top: 50%;
	left: 10px;
	width: 100%;
	font-family: Arial;
	font-size: 14px;
	z-index: 99;
	color:  #C2B4B4;
}

#main_carousel .carousel_left .carousel_left_f3{
	position: absolute;	
	left:108px;
	bottom: 140px;
	margin: 0 auto;
	height: 47px;	
	width: 167px;
	background-color: #EDEDED;
	text-align: center;
}

#main_carousel .carousel_left .carousel_left_f3  p{
	height: 40px;
	line-height: 3;
	font-size: 16px;
	font-family: 微软雅黑;
}

#main_carousel .carousel_right{
	width: 747px;
	height: 480px;
	float: left;
	left: 75px;	
	// border: 1px solid #111;
}

#main_carousel .carousel_right .carousel_right_out{
	width: 710px;
	height: 476px;
	// border: 1px solid #111;
	// background-image: url(../Image/carousel_img.png);
	background-repeat: no-repeat;
}

#main_carousel .carousel_right .carousel_right_out ul li{
	list-style-type: none;
	position: absolute;
	display: none;
}

#main_carousel .carousel_right .carousel_right_out ul li img{
	width: 100%;
	height: auto;
}

#main_carousel .carousel_right .carousel_right_num{
	// position: relative;	
	width: 680px;
	height: 88px;	
	background-image: url(../Image/back_carousel.png);
	background-repeat: repeat;
	float: left;	
	// border: 1px solid #111;
}

#main_carousel .carousel_right .carousel_right_num ul{
	position: absolute;
	top: 10px;
	left: 0px;
	text-align: left;
	width: 100%;
	height: 88px;	
	font-size: 0;	
}

#main_carousel .carousel_right .carousel_right_num ul li{
	list-style-type: none;	
	width: 35px;
	height: 10px;	
	display: inline-block;
	text-align: center;
	margin: 0 5px;
	background: #333;
	// border-radius: 50%;
	font-size: 14px;
	line-height: 28px;
	color: #fff;
}

#main_carousel .carousel_right .carousel_right_num ul li.active{
	background: red;
}

#main_carousel .carousel_right .carousel_right_num ul li a{
	color: #fff;
	font-size: 14px;
}

#main_menu{
	width: 1144px;
	height: 410px;
	position: relative;
	// border: 1px solid #111;
	background-color: #EDEDED;
	float: left;	
}

#main_menu .main_menu_1,.main_menu_2,.main_menu_3{
	top:60px;
	margin: 0 5px 0 0;
	left:75px;
	width: 328px;
	height: 350px;
	float: left;
	// border: 1px solid #111;
}

#main_menu .main_menu_1{
	background-image:url(../Image/back_menu1.png);
	background-repeat: no-repeat;
	background-position:0px 30px; 
}

#main_menu .main_menu_2{
	background-image:url(../Image/back_menu2.png);
	background-repeat: no-repeat;
}

#main_menu .main_menu_3{
	background-image:url(../Image/back_menu3.png);
	background-repeat: no-repeat;
	background-position:0px 30px; 
}

#main_space{
	width: 1004px;
	height: 550px;
	// position: relative;
	// border: 1px solid #111;
	background-color: white;
	float: left;	
	text-align: center;
	padding: 70px;
	font-family: 黑体;
}

#main_space .main_space_1,.main_space_2,.main_space_3,.main_space_4{
	top:70px;
	margin: 0 14px 0 0;	
	width: 235px;
	height: 330px;
	float: left;
	// border: 1px solid #111;
	padding:0px;
}

#main_space .main_space_1{
	background-image:url(../Image/back_space1.png);
	background-repeat: no-repeat;
	background-position:0px 30px; 
}

#main_space .main_space_2{
	background-image:url(../Image/back_space2.png);
	background-repeat: no-repeat;
}

#main_space .main_space_3{
	background-image:url(../Image/back_space3.png);
	background-repeat: no-repeat;
	background-position:0px 30px; 
}

#main_space .main_space_4{
	background-image:url(../Image/back_space4.png);
	background-repeat: no-repeat;
}

#main_space .main_space_5{
	top:150px;
	width: 1024px;
	height: 40px;
	margin: auto;	
	float: left;
	// border: 1px solid #111;
	text-align: center;	
}

#main_space .main_space_5 p{	
	// border: 1px solid #111;
	height: 40px;	
	width: 140px;
	text-align: center;	
	display:inline-block;
	line-height: 2.5;
	background-color: #EDEDED;
}

#main_band{
	width: 1144px;
	height: 780px;
	// position: relative;
	// border: 1px solid #111;
	background-image:url(../Image/back_band.png);
	background-repeat: no-repeat;
	float: left;	
	text-align: center;
}

#main_mall{
	width: 1144px;
	height: 690px;
	padding-top: 70px;
	float: left;	
	text-align: center;
	background-image:url(../Image/back_mall.png);
	background-repeat: no-repeat;
	background-position: 53px 185px ;
	// border: 1px solid #111;
	background-color: #EDEDED;
	font-family: 黑体;
}

#main_mall .main_space_5{
	top:550px;
	width: 1144px;
	height: 40px;
	margin: auto;	
	float: left;
	// border: 1px solid #111;
	text-align: center;	
}

#main_mall .main_space_5 p{	
	// border: 1px solid #111;
	height: 40px;	
	width: 140px;
	text-align: center;	
	display:inline-block;
	line-height: 2.5;
	background-color: #EDEDED;
}

#main_news{
	width: 1144px;
	height: 510px;
	padding-top: 50px;
	float: left;	
	text-align: center;
	background-position: 53px 185px ;
	// border: 1px solid #111;
	background-color: white;
}

#main_news .main_news_1,.main_news_2,.main_news_3{
	top:60px;
	left:65px;
	margin: 0;	
	width: 305px;
	height: 340px;
	float: left;
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
}

#main_news img{
	margin-top: 10px;
	margin-bottom: 10px;
}

#main_news div ul{
	list-style-type: none;
}

#main_news div ul li p,h4,h5{
	text-align: justify ;
}

#main_news .link{
	text-align: right;
}

#dept{
	width: 1144px;
	height: 256px;	
	float: left;
	background-color: #EDEDED;	
	text-align: center;
}

#dept ul{	
	list-style-type: none;	
	height: 100px;
	width: 1144px;
	top: 47px;
	text-align: center;	
}

#dept ul li{	
	margin:0 35px;
	float: left;
	list-style-type: none;	
	text-align: left;
	width:210px;
}

#dept ul li p{	
	margin:5px 0px;	
	font-size: 14px;
}

#dept .deptname{
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
	font-size: 16px;
	height: 55px;
	line-height: 3.8;
}

#help_nav{
	width: 1144px;
	height: 256px;	
	float: left;
	background-color: #868484;	
	text-align: center;
	color: white;
}

#help_nav ul{
	list-style-type: none;	
	height:256px;
	width: 1144px;	
	text-align: center;	
}

#help_nav ul li{	
	float: left;
	list-style-type: none;	
	text-align: left;
	width:284px;
	border-left:1px dashed white; 
	height: 100%;
}

#help_nav .help_nav_left{
	border:none;
}

#help_nav .help_nav_left ul{
	list-style-type: none;	
	text-align: center;
	width:284px;
	top: -10px;		
	// height: 100%;
}

#help_nav .help_nav_left ul li{
	list-style-type: none;	
	text-align: center;
	width:284px;	
	height:30px;
	border: none;
}

#help_nav .help_nav_right ul{
	list-style-type: none;	
	text-align: center;
	width:284px;
	top: -10px;		
	// height: 100%;
}

#help_nav .help_nav_right ul li{
	list-style-type: none;	
	text-align: center;
	width:284px;
	height:30px;
	border: none;	
}

.help_nav_top{	
	background-color: #4D4B4B;
	width: 80px;
	height: 25px;
	text-align: center;
	display: block;
	margin: 0 auto;
	line-height: 1.5;	
}

#help_nav .help_nav_left img{
	width: 75px;
	height: 75px;	
}

#footer{
	width: 1144px;
	height: 40px;
	text-align: center;	
	background-color: #4D4B4B;	
	float: left;
	color: white;
	line-height: 2.5;
	font-family: 12px/1.5 Microsoft YaHei,
	font-size: 12px;
}


#footer a{
	text-decoration: none;
	color: white;
	font-size: 12px;
}




