<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="__PUBLIC__/Css/back.css" />	
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="">
	<title>西野呈</title>
</head>
<body>
<div id="header">
	<div class="header_top">
		<div class="logo">
			<p class="logo_f1">西野呈</p>
			<p>HERE CHENG</p>
		</div>
		<div class="wblogo"></div>
		<div class="menu">
			<ul>
				<li><a href="#">西野是什么</a></li>
				<li><a href="#">西野客户</a></li>
				<li><a href="#">合作品牌</a></li>
				<li><a href="#">行业动态</a></li>
				<li><a href="#">联系</a></li>	
			</ul>
		</div>		
	</div>
</div>
<div id="main_carousel">	
		<div class="carousel_left">
			<div class="carousel_left_f1">
				<p>给公共商业空间增效</p>
				<p>让有人的地方都成为你的卖场</p>	
			</div>
			<div class="carousel_left_f2">
				<p>——————&nbsp;&nbsp;&nbsp;&nbsp;Accessories,lighting,lines,stone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and tile at discounted prices.</p>
			</div>	
			<div class="carousel_left_f3">
				<p>西野呈简介</p>				
			</div>
		</div>
		<div class="carousel_right">
			  <div class="carousel_right_out">
                <ul>
                    <li><img src="__PUBLIC__/Image/back_menu1.jpg"/></li>
                    <li><img src="__PUBLIC__/Image/back_menu2.jpg"/></li>
                    <li><img src="__PUBLIC__/Image/back_menu3.jpg"/></li>
                    <li><img src="__PUBLIC__/Image/back_menu4.jpg"/></li>
                </ul>
            </div>
            <div class="carousel_right_num">
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>      	
		</div>
		
	
</div>
<div id="main_menu">	
	<div class="main_menu_1"></div>
	<div class="main_menu_2"></div>
	<div class="main_menu_3"></div>
</div>
<div id="main_space">
	<h1>给公共商业空间增效</h1>
	<h3>西野呈道具及场景设计</h3>
	<div class="main_space_1"></div>
	<div class="main_space_2"></div>
	<div class="main_space_3"></div>
	<div class="main_space_4"></div>
	<div class="main_space_5">
		<p class="p_btn"><a href="">查看更多</a></p>
	</div>	
</div>
<div id="main_band"></div>
<div id="main_mall">
	<h1>有人的地方就是你的卖场</h1>
	<h3>西野呈品牌产品合作</h3>
	<div class="main_space_5">
		<p class="p_btn"><a href="">查看更多</a></p>
	</div>
</div>
<div id="main_news">
<h1>行业动态</h1>	
	<ul>
		<li class="main_news_left">
			<ul>
				<li>
					<h4>热烈祝贺西野品牌服务客户-越秀房托</h4>
				</li>
				<li><img src="__PUBLIC__/Image/new1.png" alt=""></li>
				<li><p>热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热...</p></li>
				<li><p class="link"><a href="#">more</a></p></li>
				<li class="line"></li>
			</ul>
		</li>
		<li class="main_news_right">
			<ul>
				<li>
					<h4>热烈祝贺西野品牌服务客户-越秀房托</h43>
				</li>
				<li><img src="__PUBLIC__/Image/new2.png" alt=""></li>
				<li><p>热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品...</p></li>
				<li><p class="link"><a href="#">more</a></p></li>
				<li class="line"></li>
			</ul>
		</li>
		<li class="main_news_right">
			<ul>
				<li>
					<h4>热烈祝贺西野品牌服务客户-越秀房托</h4>
				</li>
				<li><img src="__PUBLIC__/Image/new3.png" alt=""></li>
				<li><p>热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品牌热烈祝贺西野品...</p></li>
				<li ><p class="link"><a href="#">more</a></p></li>
				<li class="line"></li>
			</ul>
		</li>
	</ul>
</div>
<div id="dept">
	<ul class="dept">
		<li>
			<p class="deptname">西野陈列服务机构</p>
			<p>地址:广州市白云区岗贝路68号速8酒店3楼</p>
			<p>电话：+86-020-36328118</p>
			<p>传真：+86-020-36328966</p>
		</li>
		<li>
			<p class="deptname">广州西野网络科技有限公司</p>
			<p>地址:广州市白云区岗贝路68号速8酒店3楼</p>
			<p>电话：+86-020-36328118</p>
			<p>传真：+86-020-36328966</p>
		</li>
		<li>
			<p class="deptname">广州西野装饰设计有限公司</p>
			<p>地址:广州市白云区岗贝路68号速8酒店3楼</p>
			<p>电话：+86-020-36328118</p>
			<p>传真：+86-020-36328966</p>
		</li>
		<li>
			<p class="deptname">西野(上海)建筑设计有限公司</p>
			<p>地址:上海市徐汇区虹漕路461号60栋02层</p>
			<p>电话：+86-021-33672999</p>
			<p>传真：+86-021-64957089</p>
		</li>
	</ul>
</div>
<div id="help_nav">
	<ul>
		<li class="help_nav_left">
			<ul>
				<li><p class="help_nav_top">关于西野</p></li>
				<li>集团介绍</li>
				<li>集团文化</li>
				<li>旗下机构</li>
				<li>西野服务品牌</li>
				<li><img src="__PUBLIC__/Image/qqcode.jpg" alt="西野呈公证号"></li>
			</ul>
		</li>
		<li class="help_nav_right">
			<ul>
				<li><p class="help_nav_top">西野客户</p></li>
				<li>精品</li>
				<li>奢侈品</li>
				<li>男装</li>
				<li>女装/女鞋</li>
				<li>珠宝/化妆品</li>
				<li>童装</li>
				<li>综合商业体</li>
				<li>其它</li>
			</ul>
		</li>
		<li class="help_nav_right">
			<ul>
				<li><p class="help_nav_top">行业动态</p></li>
				<li>行业动态</li>
			</ul>
		</li>
		<li class="help_nav_right">
			<ul>
				<li><p class="help_nav_top">西野人才</p></li>
				<li>人才理念</li>
				<li>人才培养</li>
				<li>加入西野</li>
			</ul>
		</li>
	</ul>	
</div>
<div id="footer">
	<p><a href="http://www.miitbeian.gov.cn/" target="__blank">粤ICP备12042810号</a>Copyright by Here international fashion organization Co.,Ltd Rights</p>
</div>
	<script type="text/javascript" src="__PUBLIC__/Js/index.js"></script>
</body>
</html>