<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>carousel</title>       
    </head>
    <body>
        <div class="carouse">
            <div class="carouseinput">
                <input type="button" value="按钮1"/>
                <input type="button" value="按钮2"/>
                <input type="button" value="按钮3"/>
                <input type="button" value="按钮4"/>
            </div>
            <div class="carouseimg">
                <img src="__PUBLIC__/Image/back_menu1.png"/>
                <img src="__PUBLIC__/Image/back_menu2.png"/>
                <img src="__PUBLIC__/Image/back_menu3.png"/>               
            </div>
        </div>        
    </body>
</html>